<meta charset="utf-8"/>
<title>Expenditure</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% stylesheets 'bundles/psamattexpenditure/css/bootstrap.min.css' 
        'bundles/psamattexpenditure/css/bootstrap-responsive.min.css'
        'bundles/psamattexpenditure/css/base.css' 
        'bundles/psamattexpenditure/css/*'
            filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon" type="image/png" href="{{ asset('favicon.ico') }}" />
