{
    "debug": false,
    "currency": "£",
    "secret": "my_unique_string",
    "db":
    {
        "driver": "pdo_mysql",
        "dbname": "expenditure",
        "host": "localhost",
        "user": "root",
        "password": ~,
        "port": ~, 
    }
}