<form method="post" action="{{ app.request.uri }}" name="monthlySalaryForm" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="amount">Monthly Salary</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">{{ currency | currencyToSymbol }}</span>
                <input type="hidden" name="currency" value="{{ currency }}" />
                <input type="number" pattern="[0-9]+([,\.][0-9]+)?" step="0.01" min="0" id="amount" name="amount" placeholder="Amount e.g 12.01" />
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Create</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('input#amount').focus();
</script>