<form method="post" action="{{ path('profile_change_password') }}" name="passwordForm" class="form-horizontal">
    {% form_theme passwordForm 'PsamattExpenditureBundle:form:fields.html.twig' %}
    {{ form_widget(passwordForm) }}
</form>

<script type="text/javascript">
    $('form[name="passwordForm"]').on('submit', function(ev){
        ev.preventDefault();

        var $form = $(this);
        var url = $form.attr("action");
        
        if ($('#changePasswordModal div.form-errors').length > 0) {
            $('#changePasswordModal div.form-errors').remove();
        }
        
        $.ajax({
            type: "POST",
            url: url,
            data: $(this).serialize(),
            dataType: "html",
            success: function(data){
                document.location.reload();
            },
            error: function(data) {
                $(data.responseText).insertBefore($form);
            }
        });
        
    })
</script>