{% extends 'PsamattPecuniaApplicationUIWebSharedBundle::base.html.twig' %}

{% block content %}

	<p>A default payment is a payment that is upcoming, either reoccuring or a one off payment in the future</p>
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#reoccuring" data-toggle="tab">Reoccuring Payments</a></li>
		<li><a href="#oneOff" data-toggle="tab">One Off Payments</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active" id="reoccuring">
			{% include 'PsamattPecuniaApplicationUIWebWebBundle:Default/tabs:reoccuring.html.twig' %}
		</div>
		<div class="tab-pane" id="oneOff">
		{% include 'PsamattPecuniaApplicationUIWebWebBundle:Default/tabs:oneOff.html.twig' %}
		</div>
	</div>
{% endblock %}
