{% extends 'PsamattPecuniaApplicationUIWebSharedBundle::base.html.twig' %}

{% block content %}
	{% set tab = app.request.query.get('tab', 'reccuring') %}

	<p>A default payment is a payment that is upcoming, either reoccuring or a one off payment in the future</p>
	<ul id="myTab" class="nav nav-tabs">
		<li class="{{ tab == 'reccuring'? 'active':''}}"><a href="#reccuring" data-toggle="tab">Reoccuring Payments</a></li>
		<li class="{{ tab == 'oneOff'? 'active':''}}"><a href="#oneOff" data-toggle="tab">One Off Payments</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane {{ tab == 'reccuring'? 'active':''}}" id="reccuring">
			{% include 'PsamattPecuniaApplicationUIWebWebBundle:Default/tabs:reoccuring.html.twig' %}
		</div>
		<div class="tab-pane {{ tab == 'oneOff'? 'active':''}}" id="oneOff">
			{% include 'PsamattPecuniaApplicationUIWebWebBundle:Default/tabs:oneOff.html.twig' %}
		</div>
	</div>
{% endblock %}
