<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Expenditure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <style type="text/css">
        body { padding-top: 60px; padding-bottom: 40px; }
        .navbar-inverse .brand a { color: #777; }
        .navbar-inverse .brand a:hover { color: #FFF; text-decoration: none; }
        .table-centered tr td.center { text-align: center; }
        table tbody tr.expenditure-partial-paid { background-color: #FFF79A }
        table tbody tr.expenditure-paid { background-color: #BDECB6 }

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />
  </head>

  <body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
                <span class="brand">
                    <img src="/assets/img/piggybank.png" alt="Expenditure" />&nbsp;
				    <a href="/">Expenditure</a>
				</span>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li {{ app.request.pathInfo == '/'? 'class="active"' : '' }}><a href="/">Overview</a></li>
						<li {{ app.request.pathInfo == '/month/historic'? 'class="active"' : '' }}><a href="/month/historic">Historic months</a></li>
						<li {{ app.request.pathInfo == '/month/default'? 'class="active"' : '' }}><a href="/month/default">Default payments</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

    <div class="container">

    	{% block content %}
    	{% endblock %}

		<hr />
		<footer>
			<p>&copy; All rights reserved</p>
		</footer>
	</div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/site.js"></script>
  </body>
</html>
