<meta charset="utf-8"/>
<title>Expenditure</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="/assets/css/datepicker.css" rel="stylesheet" />
<link href="/assets/css/base.css" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />